/****
Icons from http://www.flaticon.com/packs/drinks-and-beverages by Vignesh Oviyan


****/

body {
	background-color: #E0EFF1;
}

* {
	font-family: 'Open Sans', sans-serif;
}


/*** Search Form Styling ***/

#formWrapper {
	display: block;
	margin: auto;
	padding: 50px 0;
	text-align: center;
}

#query {
	width: 50%;
	font-size: 30px;
	appearance: none;
	box-shadow: none;
	padding: 10px;
	border: solid 5px #7DB4B5;
	transition: border 1s;
	border-radius: none;
	margin-right: 20px;
}

#query:hover, #query:focus {
	border: solid 5px #680148;
	outline: none;
}

#query, #searchSubmit {
	vertical-align: middle;
	display: inline-block;
}

#searchSubmit {
	background-image: url(../img/magnifying-glass.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: transparent;
	height: 50px;
	width: 50px;
	border: none;
	transition: transform 0.09s;
	transition-timing-function: cubic-bezier(.27, -0.3, .87, 1);
	outline: none;
}

#searchSubmit:active {
	transform: scale(0.85);
}


/*** User Location Form Styling ***/

#location {
	display: none;
}

#locationWrapper {
	text-align: center;
	background-color: white;
	box-shadow: 0 10px 6px -6px #7DB4B5;
	padding: 15px;
	margin: 10px auto;
	cursor: pointer;
	width: 90%;
}


/*** Results wrapper div ***/

#resultsWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
}


/***** Product Cards ******/

.resultEntry {
	text-align: left;
	flex: 0 1 45%;
	background-color: white;
	box-shadow: 0 10px 6px -6px #7DB4B5;
	padding: 15px;
	margin: 10px 0;
	cursor: pointer;
}

.productThumb {
	margin: 0 2em 1em 0;
	width: 30%;
	float: left;
}

.resultEntry span {
	margin: 5px 0;
	padding-left: 15px;
	display: block;
}

.prod0 {
	font-size: 1.25em;
	font-family: 'Oswald', sans-serif;
	font-style: bold;
}

.prod1, .prod2 {
	font-size: 1em;
}

.prod3, .prod4, .prod5, .prod6 {
	font-size: 0.9em;
}

.prod1:before {
	background: url(../img/dollar-symbol.png);
}

.beer:before {
	background: url(../img/beer.png);
}

.wine:before {
	background: url(../img/wine.png);
}

.ciders:before {
	background: url(../img/cider.png);
}

.coolers:before {
	background: url(../img/cooler.png);
}

.spirits:before {
	background: url(../img/spirit.png);
}

.prod1:before, .prod2:before {
	content: " ";
	background-size: 100%;
	height: 1em;
	width: 1em;
	display: inline-block;
	margin-right: 2px;
}


/*** Store Results ***/

#prodNameStoreList {
	display: none;
	width: 90%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 0 10px 6px -6px #7DB4B5;
	padding: 30 0px;
	text-align: center;
	cursor: pointer;
  padding: 20px 0;
}

#prodNameStoreList h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
	margin-top: 0;
}

#prodNameStoreList p {
	margin: 0;
	font-size: 0.9em;
}

.storeEntry {
	text-align: left;
	flex: 0 1 45%;
	background-color: white;
	box-shadow: 0 10px 6px -6px #7DB4B5;
	padding: 15px;
	margin: 10px 0;
	cursor: pointer;
}

.storeEntry span {
	margin: 5px 0;
	padding-left: 15px;
	display: block;
}

.store0 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.25em;
}

.store1, .store2 {
	font-size: 1em;
}

.store3, .store4, .store5 {
	font-size: 0.9em;
}


/**** Card Hover Animation ****/

.resultEntry, .storeEntry, #prodNameStoreList, #locationWrapper {
	transition: transform 0.5s;
	transition-timing-function: cubic-bezier(.04, .82, .78, 1.64);
}

.resultEntry:hover, .storeEntry:hover, #prodNameStoreList:hover, #locationWrapper:hover {
	transform: scale( 1.05, 1.05);
}


/**** Pager Links ****/

#pageLinks {
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
}

#prevPage, #nextPage {
	cursor: pointer;
	font-size: 1.2em;
	font-family: 'Oswald', sans-serif;
	display: none;
}


/**** MEDIA QUERIES ****/

@media (max-width: 900px) {
	.resultEntry, .storeEntry {
		flex: 0 1 100%;
	}
	#resultsWrapper {
		justify-content: center;
		width: 70%;
	}
	#query {
		font-size: 1.25em;
	}
	#prodNameStoreList {
		width: 70%;
	}
}

@media (max-width: 525px) {
	.productThumb {
		float: none;
		margin: 0 auto;
		display: block;
	}
	#query {
		font-size: 1em;
		width: 262px;
	}
	#searchSubmit {
		height: 35px;
		width: 35px;
	}
}