body {
    background-color: #f3f4f3;
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #A1D4F2;
    text-shadow: -8px 8px #F7D9C8;
}

h2 {
    text-shadow: 8px 8px #F7D9C8;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 90%;
    margin: 5vh auto;
}

header,
.portfolio {
    text-align: right;
    width: 75%;
    margin-left: auto;
}

.bio {
    width: 75%;
}

header,
.bio,
.portfolio {
    margin-top: 10vh;
}

.contact-me {
    color: #A1D4F2;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: letter-spacing.5s ease-in-out;
    border-bottom: solid 4px #F7D9C8;
}

.contact-me:hover,
.contact-me:focus {
    letter-spacing: 1vw;
}

.portfolio-item {
    position: relative;
}

.portfolio-item h3 {
    margin: 0;
    line-height: 1.5rem;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: solid 4px #A1D4F2;
    display: inline-block;
    cursor: pointer;
}

.portfolio a {
}

.portfolio-desc {
    text-align: right;
    max-width: 75%;
    margin-left: auto;
    overflow: hidden;
    transition: 1s ease-out;
    height: 100%;
}

.hidden {
    position: relative;
    top: 100%;
}

@media only screen and (min-width: 625px) {
    .container {
        width: 75%;
    }
}

@media only screen and (min-width: 935px) {
    .container {
        width: 50%;
        margin-top: 12.5vh;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        margin-top: 20vh;
        width: 600px;
    }
}