body {
    background-color: #f3f4f3;
    font-family: 'Raleway', sans-serif;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #A1D4F2;
    text-shadow: -8px 8px #F7D9C8;
}

h2 {
    text-shadow: 8px 8px #F7D9C8;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 90%;
    margin: 5vh auto;
}

header,
.portfolio {
    text-align: right;
    width: 75%;
    margin-left: auto;
}

.bio {
    width: 75%;
}

header,
.bio,
.portfolio {
    margin-top: 10vh;
}

.contact-me {
    color: #A1D4F2;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: letter-spacing.3s cubic-bezier(.3,-0.25,.85,1.25);
    border-bottom: solid 4px #F7D9C8;
}

.contact-me:hover, 
.contact-me:focus {
    letter-spacing: .5vw;
}


.portfolio ul {
    list-style: none;
    margin: 0;
    padding: 0;    
}

.portfolio a {
    border-bottom: solid 4px #A1D4F2;
    line-height: 1.5rem;
}

@media only screen and (min-width: 625px) {
    .container {
        width: 75%;
    }
}

@media only screen and (min-width: 935px) {
    .container {
        width: 50%;
        margin-top: 12.5vh;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        margin-top: 20vh;
        width: 600px;
    }
}